---
layout: page
title: APIStrat Boston 2016
---

<!--npadding-->
<div class="container widget">
    <div class="landing">
        <div class="bg" style="background-image: url('https://s3.amazonaws.com/kinlane-productions/events/apistrat-boston-2016/boston-1.jpg')"></div>
        <h1 style="padding-left: 20px;"><span class="text-fit" style="color:#FFF; padding-left: 20px;">APIStrat Boston 2015</span></h1>
	      <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-inner">
                        <div style="text-align:center;">
                          <span class="title">October 27-28th, 2016<br />Boston, MA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #FD7A23; width: 100%;">
  <div style="width: 100%; margin: 0 auto; padding: 8px; border: 1px solid #000; text-align: center; font-weight: bold; color: #FFF; font-size: 22px;">
    <a href="https://www.youtube.com/user/apistrat/videos" style="color: #FFF; text-decoration:underline;">Watch Latest Videos From Austin 2015 on Youtube!</>
  </div>
</div>
<br />

<!-- TEXT -->
<div id="tile_description" class="container widget" style="color: #000;">
    <h2>About</h2>
    <p>API Strategy & Practice Conference, now known as APIStrat, is a conference focused on the API economy. The seventh edition of the conference is coming to Boston MA, looking to bring together everyone — from the API curious to today’s leaders — to discuss current opportunities and challenges in the API space.</p>
    <p>APIStrat sparks conversations between API providers and API consumers, startups and enterprise, developers and architects, and all types of integrators to discuss what we each see on the ground every day. The event is not just for developers and IT, it also for business users and anyone who is looking to better understand how APIs are impacting the world around us.</p>
    <p>Thanks for visiting, stay tuned for more information, and we look forward to seeing you in Boston this fall.</p>
</div>

<!-- SPEAKERS -->
<div id="tile_speakers" class="container widget">

  <h2>Speakers</h2>
  <div class="speakers">
    <div class="carousel-inner">
       <div class="item active">

         {% for speaker in site.featured_speakers %}
         <div class="speaker" style="margin: 5px 25px 5px 25px;">
            <a class="speaker-inner" href="#">
            <span class="photo">
              <img width="200" height="200" src="{{ speaker.image }}" alt="" />
            </span>
            <span class="name">
              {{ speaker.name }}<br />({{ speaker.company }})
            </span>
            <span class="description" style="color: #FFF;"></span><br />
            </a>
         </div>
         {% endfor %}

        </div>
    </div>

  </div>

</div>

<!-- SPONSORS -->
<div id="tile_sponsors" class="container widget">

  <h3 class="sponsor"><span>Sponsors</span></h3>
  <div class="sponsors sponsors-lg">

    <div class="item active">

      {% for oranizer in site.sponsors %}
          <div class="sponsor">
            <a href="{{ oranizer.link }}" title="{{ oranizer.name }}" target="_blank">
              <img align="center" src="{{ oranizer.logo }}" alt="{{ oranizer.name }}" />
            </a>
          </div>
      {% endfor %}

    </div>
  </div>

</div>

<div id="tile_sponsors" class="container widget">

  <h3 class="sponsor"><span>Organizers</span></h3>
  <div class="sponsors sponsors-lg">

      {% for oranizer in site.organizers %}
          <div class="sponsor">
            <a href="{{ oranizer.link }}" title="{{ oranizer.name }}" target="_blank">
              <img width="329" height="95" src="{{ oranizer.logo }}" class="attachment-full wp-post-image" alt="{{ oranizer.name }}" />
            </a>
          </div>
      {% endfor %}

  </div>

</div>

<!-- Tweets -->
<div class="container widget">

  <h2>Tweets About Previous @APIStrat Events</h2>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/apistrat">@apistrat</a> <a href="https://twitter.com/APIdaysGlobal">@APIdaysGlobal</a> <a href="https://twitter.com/APIdaysGlobal">@APIdaysGlobal</a> <a href="https://twitter.com/kinlane">@kinlane</a> for a great conference. Looking forward to a next edition</p>&mdash; Menno Abbink (@mennoabbink) <a href="https://twitter.com/mennoabbink/status/592409958530056193">April 26, 2015</a></blockquote></td>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Another thing that <a href="https://twitter.com/apistrat">@apistrat</a> and <a href="https://twitter.com/APIDaysBerlin">@APIDaysBerlin</a> got right at this weeks conference was having womens sizes for T-Shirts, thanks for that!</p>&mdash; Mandy Waite (@tekgrrl) <a href="https://twitter.com/tekgrrl/status/592396238793900032">April 26, 2015</a></blockquote></td>
      </tr>
      <tr>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Another tremendous conference put on by <a href="https://twitter.com/kinlane">@kinlane</a> and Steve. Thank you guys for an amazing <a href="https://twitter.com/apistrat">@apistrat</a> 2014 <a href="https://twitter.com/hashtag/chicago?src=hash">#chicago</a></p>&mdash; Mike Stowe (@mikegstowe) <a href="https://twitter.com/mikegstowe/status/515639979742359552">September 26, 2014</a></blockquote></td>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Back in London after an awesome <a href="https://twitter.com/apistrat">@apistrat</a>. Congrats and thank you to <a href="https://twitter.com/njyx">@njyx</a>, <a href="https://twitter.com/kinlane">@kinlane</a>, the <a href="https://twitter.com/3scale">@3scale</a> team and everyone who joined! <a href="https://twitter.com/hashtag/apistratAMS?src=hash">#apistratAMS</a></p>&mdash; Romain Huet (@romainhuet) <a href="https://twitter.com/romainhuet/status/450321112304730113">March 30, 2014</a></blockquote></td>
      </tr>
      <tr>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Great week at <a href="https://twitter.com/apistrat">@apistrat</a>, learned a lot and met very interesting people ! Thank you all :)</p>&mdash; Antoine Jackson (@willjcksn) <a href="https://twitter.com/willjcksn/status/449650529111904256">March 28, 2014</a></blockquote></td>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr"><a href="https://twitter.com/apistrat">@apistrat</a> <a href="https://twitter.com/kinlane">@kinlane</a> it was an awesome conference, so glad to attend! Thank you!</p>&mdash; Christina Green (@gueritaverde) <a href="https://twitter.com/gueritaverde/status/305081239407312896">February 22, 2013</a></blockquote></td>
      </tr>
      <tr>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Just back to SF! Had amazing days with smart people and awesome APIs at <a href="https://twitter.com/apistrat">@apistrat</a> - Thank you <a href="https://twitter.com/kinlane">@kinlane</a> &amp; <a href="https://twitter.com/njyx">@njyx</a> to make it happen.</p>&mdash; Augusto Marietti (@sinzone) <a href="https://twitter.com/sinzone/status/306248717726519296">February 26, 2013</a></blockquote></td>
        <td><blockquote class="twitter-tweet" lang="en" style="display: inline;"><p lang="en" dir="ltr">Indeed, great content and speakers. RT <a href="https://twitter.com/gueritaverde">@gueritaverde</a>: <a href="https://twitter.com/apistrat">@apistrat</a> <a href="https://twitter.com/kinlane">@kinlane</a> it was an awesome conference, so glad to attend! Thank you!&quot;</p>&mdash; Dave Goldberg (@davidgoldberg) <a href="https://twitter.com/davidgoldberg/status/305285437428203520">February 23, 2013</a></blockquote></td>
      </tr>
    </table>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
