---
layout: page
title: APIStrat Boston 2016 - Schedule
---
<div class="heading">
    <div class="container">
        <h1>Schedule</h1>
    </div>
</div>
<div class="schedule">
	<div class="container">
			<div class="sessions list">

				<div class="followWrap" style="height: 60px;">
					<div class="day-floating">
						<span>November 2nd, 2016 (Workshop Day)</span>
					</div>
				</div>

				{% for entry in site.dayone %}
				  <div class="session">

					  <span class="time">{{ entry.time }}</span>

					  <div class="session-inner">
						  <a class="title" href="#" onclick="return false;"><span>{{ entry.title }}</span></a>
						  {% if entry.location == 'Breakout One' or entry.location == 'Breakout Two' or entry.location == 'Breakout Three' %}
						  <a class="title" href="{{ entry.registration }}" style="color:#FF0000;">(REGISTER FOR WORKSHOP!)</a>
						  {% endif %}
						  <span class="location">{{ entry.abstract }}</span><br />
						  <span class="location">{{ entry.location }}</span>
						  <span class="speakers-thumbs">
							  {% for speaker in entry.speakers %}
								  <a class="speaker" href="#" onclick="return false;">
									<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
									<span class="name">
									  {{ speaker.name }}<br />{{ speaker.company }}
									</span>
								  </a>
							  {% endfor %}
						  </span>
						  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->
					  </div><!-- /session inner -->
				  </div><!-- /session-->
				{% endfor %}
		</div> <!-- /sessions list -->		
	</div><!-- /container -->
	  
	<div class="col-xs-12 sessions">
		<div class="container">
			<div class="sessions list">
					<div class="followWrap" style="height: 60px;">
						<div class="day-floating">
							<span>November 3rd, 2016</span>
						</div>
					</div>
				</div><!-- /sessions list -->
			</div><!-- /container -->
		</div><!-- /col-xs-12 -->
		<div class="col-xs-12 sessions">
			<div class="container">
				<div class="sessions list">
				{% for entry in site.daytwo %}
				<div class="session">
					<div class="col-md-2 col-sm-3">
						  <p>{{ entry.time }}</p>
					</div>
	  
					<div class="col-md-10 col-sm-9">
						  <div class="session-inner">

							  <a class="title" {% if entry.detail == 'none' %} href="#"onclick="return false;"{% else %}href="{{ entry.detail }}"{% endif %}><span>{{ entry.title }}</span></a>
							  <div class="clearfix"></div>
							  <span class="location">{{ entry.location }}</span>
								<div class="clearfix"></div>
					
							  <span class="speakers-thumbs">
							  {% for speaker in entry.speakers %}
								  <div class="col-md-4 col-sm-6"> 
									<a class="speaker" {% if speaker.detail != 'none' %}href="{{ speaker.detail }}"{% else %}href="#" onclick="return false;"{% endif %}>
									<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
									<span class="name">{{ speaker.name }}<br />{{ speaker.company }}</span>
								  </a>
								  </div><!-- /col-md-4 -->
							  {% endfor %}
							  </span>

							  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

						  </div><!-- /session-inner -->
						</div><!-- /col-md-10 -->
				  </div><!-- /session -->
				{% endfor %}
			</div>	<!-- /sessions list -->
		</div><!-- /container -->
	</div><!-- /col-xs-12 -->
	<div class="col-xs-12 sessions">
		<div class="container sessions list">
			<div class="followWrap" style="height: 60px;">
				<div class="day-floating">
					<span>November 4th, 2016</span>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /col-xs-12 -->

	<div class="col-xs-12">
		<div class="container sessions list">
			{% for entry in site.daythree %}
			<div class="session">
				<div class="col-md-2 col-sm-3">
					  <p>{{ entry.time }}</p>
				</div>
	  
				<div class="col-md-10 col-sm-9">
					  <div class="session-inner">

						  <a class="title" {% if entry.detail == 'none' %} href="#"onclick="return false;"{% else %}href="{{ entry.detail }}"{% endif %}><span>{{ entry.title }}</span></a>
						  <div class="clearfix"></div>
						  <span class="location">{{ entry.location }}</span>
							<div class="clearfix"></div>
					
						  <span class="speakers-thumbs">
						  {% for speaker in entry.speakers %}
							  <div class="col-md-4 col-sm-6"> 
								<a class="speaker" {% if speaker.detail != 'none' %}href="{{ speaker.detail }}"{% else %}href="#" onclick="return false;"{% endif %}>
								<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
								<span class="name">{{ speaker.name }}<br />{{ speaker.company }}</span>
							  </a>
							  </div><!-- /col-md-4 -->
						  {% endfor %}
						  </span>

						  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

					  </div><!-- /session-inner -->
					</div><!-- /col-md-10 -->
			  </div><!-- /session -->
			{% endfor %}
		</div><!-- /container -->
	</div><!-- /col-xs-12 -->

</div><!-- /schedule -->