---
layout: page
title: APIStrat Boston 2016 - Schedule
---
<div class="col-xs-12" style="background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('/images/apistrat-audience-1.gif'); background-size: cover; background-position: top center; color: #ffffff; padding:0px; min-height:400px; display:flex;">
    <div class="container" style="display:flex; align-items:center; text-align:left;">
        <h1>Event Schedule</h1>
	</div><!-- /container -->
</div><!-- /col-xs-12 -->
<div class="schedule">

<!-- ====================================
========== day one ======================
==================================== -->
	<div class="col-xs-12 sessions">
			<div class="col-xs-12" style="padding: 20px 0px;"></div>
	
		<div class="container">
			<div class="sessions list">
					<div class="followWrap" style="height: 60px;">
						<div class="day-floating">
							<span>November 2nd, 2016</span>
						</div>
					</div>
				</div><!-- /sessions list -->
			</div><!-- /container -->
		</div><!-- /col-xs-12 -->
		
		<div class="col-xs-12 sessions">
			<div class="container">
				<div class="sessions list">
				{% for entry in site.dayone %}
				<div class="session">
					<div class="col-md-2 col-sm-3">
						  <span class="time">{{ entry.time }}</span>
					</div>
	  
					<div class="col-md-10 col-sm-9">
						  <div class="session-inner">
							 <!-- <a class="title" {% if entry.detail == 'none' %} href="#"onclick="return false;"{% else %}href="{{ entry.detail }}"{% endif %}><span>{{ entry.title }}</span></a> -->
							 <p><a class="title" href="{{ entry.registration }}" onclick="return false;"><span>{{ entry.title }}</span></a> | <span class="location">{{ entry.location }}</span>
						  	  <span class="abstract">{{ entry.abstract }}</span><br />
						  	  <!-- <span class="location">{{ entry.location }}</span> -->
							  <span class="speakers-thumbs">
							  {% for speaker in entry.speakers %}
								  <div class="col-md-4 col-sm-6"> 
									<a class="speaker" {% if speaker.detail != 'none' %}href="{{ speaker.detail }}"{% else %}href="#" onclick="return false;"{% endif %}>
									<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
									<span class="name">{{ speaker.name }}<br />{{ speaker.company }}</span>
								  </a>
								  </div><!-- /col-md-4 -->
							  {% endfor %}
							  
							  {% if entry.location == 'Breakout One' or entry.location == 'Breakout Two' or entry.location == 'Breakout Three' %}
							  	<div class="clearfix"></div>
							  	<p style="margin-top:20px;"><a style="color:#f52029;" href="{{ entry.registration }}">Learn more and register &rsaquo;</a></p>
							   {% endif %}
							  </span>

							  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

						  </div><!-- /session-inner -->
						</div><!-- /col-md-10 -->
				  </div><!-- /session -->
				{% endfor %}
			</div>	<!-- /sessions list -->
		</div><!-- /container -->
	</div><!-- /col-xs-12 -->
	
<!-- ====================================
========== day two ======================
==================================== -->		
	  
	<div class="col-xs-12 sessions">
		<div class="container">
			<div class="sessions list">
					<div class="followWrap" style="height: 60px;">
						<div class="day-floating">
							<span>November 3rd, 2016</span>
						</div>
					</div>
				</div><!-- /sessions list -->
			</div><!-- /container -->
		</div><!-- /col-xs-12 -->
		<div class="col-xs-12 sessions">
			<div class="container">
				<div class="sessions list">
				{% for entry in site.daytwo %}
				<div class="session">
					<div class="col-md-2 col-sm-3">
						  <span class="time">{{ entry.time }}</span>
					</div>
	  
					<div class="col-md-10 col-sm-9">
						  <div class="session-inner">

							  <a class="title" {% if entry.detail == 'none' %} href="#"onclick="return false;"{% else %}href="{{ entry.detail }}"{% endif %}><span>{{ entry.title }}</span></a>
							  <div class="clearfix"></div>
							  <span class="location">| {{ entry.location }}</span>
								<div class="clearfix"></div>
					
							  <span class="speakers-thumbs">
							  {% for speaker in entry.speakers %}
								  <div class="col-md-4 col-sm-6"> 
									<a class="speaker" href="/speakers/{{ speaker.slug }}">
									<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
									<span class="name">{{ speaker.name }}<br />{{ speaker.company }}</span>
								  </a>
								  </div><!-- /col-md-4 -->
							  {% endfor %}
							  </span>

							  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

						  </div><!-- /session-inner -->
						</div><!-- /col-md-10 -->
				  </div><!-- /session -->
				{% endfor %}
			</div>	<!-- /sessions list -->
		</div><!-- /container -->
	</div><!-- /col-xs-12 -->

<!-- ====================================
========== day three ====================
==================================== -->	
<div class="col-xs-12 sessions">
		<div class="container">
			<div class="sessions list">
					<div class="followWrap" style="height: 60px;">
						<div class="day-floating">
							<span>November 4th, 2016</span>
						</div>
					</div>
				</div><!-- /sessions list -->
			</div><!-- /container -->
		</div><!-- /col-xs-12 -->
		<div class="col-xs-12 sessions">
			<div class="container">
				<div class="sessions list">
				{% for entry in site.daythree %}
				<div class="session">
					<div class="col-md-2 col-sm-3">
						  <span class="time">{{ entry.time }}</span>
					</div>
	  
					<div class="col-md-10 col-sm-9">
						  <div class="session-inner">

							  <a class="title" {% if entry.detail == 'none' %} href="#"onclick="return false;"{% else %}href="{{ entry.detail }}"{% endif %}><span>{{ entry.title }}</span></a>
							  <div class="clearfix"></div>
							  <span class="location">| {{ entry.location }}</span>
								<div class="clearfix"></div>
					
							  <span class="speakers-thumbs">
							  {% for speaker in entry.speakers %}
								  <div class="col-md-4 col-sm-6"> 
									<a class="speaker" {% if speaker.detail != 'none' %}href="{{ speaker.detail }}"{% else %}href="#" onclick="return false;"{% endif %}>
									<img alt="{{ speaker.name }} {{ speaker.company }}" height="54" src="/images/{{ speaker.image }}" width="60">
									<span class="name">{{ speaker.name }}<br />{{ speaker.company }}</span>
								  </a>
								  </div><!-- /col-md-4 -->
							  {% endfor %}
							  </span>

							  <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

						  </div><!-- /session-inner -->
						</div><!-- /col-md-10 -->
				  </div><!-- /session -->
				{% endfor %}
			</div>	<!-- /sessions list -->
		</div><!-- /container -->
		<div class="col-xs-12" style="padding: 20px 0px;"></div>
	</div><!-- /col-xs-12 -->


</div><!-- /schedule -->